.resume-grid {
    display: flex;
    /* height: 215vh; */
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: floralwhite;
}

.business-grid {
    width: 80%;
}

.education-grid {
    width: 80%;
}
@media screen and (max-width: 600px) {
    .business-grid{
        width: 100%;
    }

    .education-grid {
        width: 100%;
    }
}