.resume-grid {
    display: flex;
    /* height: 215vh; */
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: floralwhite;
}

@media screen and (max-width: 600px) {

}